<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
      <p><small>Last Updated: {{last_updated.last_updated}}</small></p>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2>Latest Mars News</h2>
        <h4>{{ latest_article.title }}</h4>
        <p>{{ latest_article.teaser }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <img style="width: 100%" src="{{ featured_image.url }}"/>
      </div>
      <div class="col-sm-4">
        <h2>Mars Facts</h2>
        <table class="table table-striped">
        {{ facts.table_html|safe }}
        </table>
      </div>
    </div>
    <div class="row">
      {% for h in hemispheres %}
          <div class="card col-md-6">
            <img class="card-img-top" style="width: 100%" src="{{ h.img_url }}" alt="{{ h.title }}">
            <div class="card-body">
              <h4 class="card-title">{{ h.title }}</h4>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
  </div>
</body>

</html>
